/* Advantages */

.advantages {
    padding-top: 0;

    &__list {
            @extend %list;
            display: flex;
            z-index: 1;
        }


    &__overlay {
        position: absolute;
        width: 370px;
        height: 70px;
        left: 0;
        bottom: 0;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    
        font-style: normal;
        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: $accent-secondary;
    
        background: rgba(47, 48, 58, 0.8);
    }
}

.advantages__item {
    position: relative;

    &:not(:last-child) {
            margin-right: 30px;
        }
}